.user {
  &-component {
    display: flex;
    align-items: center;
  }
  &__name {
    margin-left: 18px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }
}
