.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }
  &__icon {
    margin-left: 15px;
    width: 13.41px;
    height: 13.12px;
    fill: #fff;
  }
  @include tablets {
    display: none;
  }
}
