.edit__input {
  &-component {
    display: flex;
    justify-content: space-between;
  }
  &--field {
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: rgba(65, 76, 99, 0.5);
  }
}
