.about
    .container.container--about
        .about__inner
            .about__column
                +image('content/user.jpg', 'about__img')
                .about__info
                    .about__field
                        .about__item Проживаю:
                        .about__item Возраст:
                        .about__item Родился:
                    .about__field
                        .about__item.about__item--white Новосибирск
                        .about__item.about__item--white 27 лет
                        .about__item.about__item--white 1 января 1991
            .about__column
                .about__title Привет, меня зовут
                .about__name Владимир Астаханов
                .about__text Я занимаюсь разработкой современных сайтов и приложений. 
                    p Мне нравится делать интересные и современные проекты.
                .about__subtitle Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!